<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="store" value="ClearOffice"/>
    <add key="application" value="ClearOffice"/>
  </appSettings>
  <connectionStrings>
    <add name="ClearOfficeEntities" connectionString="metadata=res://*/Data.SecurityModel.csdl|res://*/Data.SecurityModel.ssdl|res://*/Data.SecurityModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=.;Initial Catalog=ClearOffice;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="Security" connectionString="Data Source=.;Initial Catalog=ClearOffice; Integrated Security=True"/>
  </connectionStrings>
</configuration>