<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FleetEntities" connectionString="metadata=res://*/FleetModel.csdl|res://*/FleetModel.ssdl|res://*/FleetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ClearOffice;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>